:root {
  --font-family-heading: 'Cera Round Pro Bold', sans-serif;
  --font-family-serif: Helvetica, serif;
  --font-family-sans-serif: sans-serif;
  --font-family-monospace: 'Lucida Console', 'Monaco', monospace;
}
