:root {
  --type-base-font-size: 1.6rem;
  --type-base-font-size-md: 1.8rem;
  --type-base-line-height: 1.5;
  --type-base-margin-bottom: 1em;
  --type-caption-font-size: 1.4rem;
  --type-caption-font-size-md: 1.6rem;
  --type-caption-line-height: 1.5;
  --type-caption-margin-bottom: 1em;
  --type-sub-heading-font-size: 1.6rem;
  --type-sub-heading-font-size-md: 1.8rem;
  --type-sub-heading-line-height: 1.3;
  --type-sub-heading-margin-bottom: 1em;
  --type-heading-font-size: 2rem;
  --type-heading-font-size-md: 2.2rem;
  --type-heading-line-height: 1.3;
  --type-heading-margin-bottom: 1em;
  --type-display-font-size: 2rem;
  --type-display-font-size-md: 2.8rem;
  --type-display-line-height: 1.3;
  --type-display-margin-bottom: 1em;
  --type-display-large-font-size: 2.4rem;
  --type-display-large-font-size-md: 3.6rem;
  --type-display-large-line-height: 1.2;
  --type-display-large-margin-bottom: 1em;
}
